nav {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-link {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav-link:hover {
    color: #50dd02;
}

.navbar-toggler {
    background-color: #50dd02;
}

.custom-toggler.navbar-toggler {
    border-color: #50dd02;
}

.custom-button {
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.5s ease;
    font-weight: bold;
    text-decoration: none;

    /* Oculto por defecto en pantallas grandes */
    display: none;
}

.custom-button i {
    color: black;
    font-size: 25px;
}

/* Botón verde fijo en la esquina inferior derecha para pantallas pequeñas */
.fixed-button {
    display: none;
}

@media (max-width: 991px) {
    .fixed-button {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .custom-button {
        /* Mostrar botón verde */
        display: flex;
        background-color: #50dd02;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}