.nosotros {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

.nosotros h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #50dd02;
    text-shadow: 2px 2px 8px #000;
}

.nosotros h3 {
    font-weight: bold;
}

.nosotros li {
    list-style: none;
}

.nosotros li i {
    color: #50dd02;
}

.nosotros ul {
    padding: 0;
    margin: 0;
}

.accordion {
    --bs-accordion-active-bg: rgba(80, 221, 2, 0.9);
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-focus-box-shadow: none;
    background-color: transparent;
}

.accordion-item {
    background-color: transparent;
}

.accordion-button {
    background-color: transparent;
}