.servicio-container {
    margin-top: 4em;
}

.titulo {
    font-size: 2.5rem;
    color: #50dd02;
    text-shadow: 2px 2px 8px #000;
}

.delantera h3 {
    margin-top: 15px;
}

.tarjeta-wrap {
    margin: 10px;
    width: 300px;
    height: 350px;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 5%;
}

.tarjeta {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.7s ease;
    color: #fff;
}

.delantera,
.trasera {
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    right: 0;
}

.delantera {
    transform: rotateY(0deg);
    transition: opacity 1s ease;
    opacity: 1;
    width: 100%;
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    /* filter: blur(1px); */
    z-index: -1;
    border-radius: 5%;
}

.titulo-servicio {
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px black;
    background-color: rgba(0, 0, 0, 0.8);
}

.trasera {
    transform: rotateY(180deg);
    transition: opacity 1s ease;
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
}

.icono-repeticion {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1rem !important;
    color: #50dd02 !important;
}

/* Para dispositivos móviles */
@media (max-width: 576px) { 
    .servicio-container {
        /* Cambia a disposición de columna */
        flex-direction: column; 
        /* Centra las tarjetas horizontalmente */
        align-items: center; 
        gap: 0px;
    }

    .tarjeta-wrap {
        /* Ancho del 90% del contenedor */
        width: 90%; 
        /* Espacio entre las tarjetas */
        margin-bottom: 20px;
    }
}

/* Para tablets */
@media (min-width: 577px) and (max-width: 992px) {
    .servicio-container {
        /* Centra las tarjetas horizontalmente */
        justify-content: center; 
        gap: 0px;
    }

    .tarjeta-wrap {
        /* Ancho de 1/2 del contenedor con margen */
        flex: 0 0 calc(50% - 20px); 
    }
}

/* Para pantallas de PC */
@media (min-width: 992px) { 
    .servicio-container {
        justify-content: center;
        gap: 100px;
    }

    .tarjeta-wrap {
        /* Ancho de 1/4 del contenedor con margen */
        flex: 0 0 calc(25% - 20px); 
    }
}